@{
    ViewBag.Title = "About";
}
<section class="page-section bg-white text-black mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->


        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">We are a team of engineers and researchers specializing in programming and scientific research. We provide programming services in many popular programming languages. We also provide graphic and motion graphic design, website design, branding, business identity design, and marketing videos. We also provide services in the field of research.</pclass="lead"></div>
            <div class="col-lg-4 mr-auto"><p class="lead">The scientific provided to postgraduate students from the preparation of master's and doctoral theses, linguistic auditing and statistical analysis, and there is a team that has experience in the field of specialized translation.</p></div>
        </div>
    </div>
</section>

